NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCk8xaTMhITmHkE7lzooaKZml_0BA8fY7A
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=m-sprwforge.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=m-sprwforge
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=769513620731
NEXT_PUBLIC_FIREBASE_APP_ID=1:769513620731:web:58d85731b5cc65e7699c5e
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BNlL1yldK3NZXrvI218kgvqpWG4r4tyJg-zorD5CBmN0cbvvfrL9Ofl1Y5mYRAK5H0NmE_eQ60ShD2yRhYImiaM
